<nav>
    <div>
      <a href="">Cookbook</a>
      <!-- new html below -->
      <ul class="right">
        <li>

          <a href="/logout"><i></i>Log Out</a>

          <a href="/auth/google"><i></i>Login with Google</a>

        </li>
      </ul>
    </div>
  </nav>