<link rel='stylesheet' href='/stylesheets/style.css' />
<header>
  <img src="">
  <nav>
    <ul>
      <li><a href="/">Cookbook</a></li>
      <li><a href="/logout"><i></i>Log Out</a></li>
      <li><a href="/auth/google"><i></i>Login with Google</a></li>
    </ul>
  </nav>
</header>
<div class="hero"><img src=""></div>