<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Accessible 5-star rating</title>
    <link rel='stylesheet' href='/stylesheets/starRating.css' />
    <script defer src="../javascripts/formHandler.js"></script>
</head>

<body>
    <div>
        <div class="rating ratingDisabled mb10">
            <input id="rated-1" type="radio" name="rated" value="1">
            <label for="rated-1">1 star</label>
            <input id="rated-2" type="radio" name="rated" value="2">
            <label for="rated-2">2 stars</label>
            <input id="rated-3" type="radio" name="rated" value="3">
            <label for="rated-3">3 stars</label>
            <input id="rated-4" type="radio" name="rated" value="4">
            <label for="rated-4">4 stars</label>
            <input id="rated-5" type="radio" name="rated" value="5">
            <label for="rated-5">5 stars</label>

            <div class="stars mb10">
                <label id="star1" for="rated-1" aria-label="1 star" title="1 star"></label>
                <label id="star2" for="rated-2" aria-label="2 stars" title="2 stars"></label>
                <label id="star3" for="rated-3" aria-label="3 stars" title="3 stars"></label>
                <label id="star4" for="rated-4" aria-label="4 stars" title="4 stars"></label>
                <label id="star5" for="rated-5" aria-label="5 stars" title="5 stars"></label>
            </div>

        </div>
    </div>
</body>

</html>