<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <%- include partials/header.ejs %> 
  <body>

    
  </body>
</html>
