body {
  /* padding: 50px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

}

a:hover {
  text-emphasis: none;
  cursor: pointer;
  color: initial;
}

a {
  text-emphasis: none;
  color: initial;
}

header {
  background-color: rgb(87, 97, 116);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 25px 0 black;
  z-index: 2;
}

header li {
  margin: 20px;
}

.noDecoration {
  text-decoration: none;
}

header li a {
  color: white;
  text-decoration: none;
}

header img {
  max-height: 80px;
}

header * {
  display: inline;
}

textarea {
  display: block;
  font-size: 1.2em;
  max-width: 100%;
}

input {
  font-size: 1.1em;
}

.pageHero {
  margin-left: -10px;
  margin-right: -10px;
  color: white;
  margin-bottom: 80px;
}

.pageHero img {
  width: 100%;
}

.pageTitle {
  position: absolute;
  top: 0;
  text-shadow: -10px 10px 0px #00e6e6,
                 -20px 20px 0px #01cccc,
                 -30px 30px 0px #00bdbd;
}

.pageTitle > h1 {
  font-size: 10vw;
  margin: 0 230px 0;
}

.pageTitle > h2 {
  font-size: 5vw;
  margin: 10vw 150px 0;
}

.pageContainer {
  max-width: calc(1000px + .5vw);
  margin: 0 auto;
}

h1, h2, h3, h4 {
  font-family: 'Fugaz One', cursive;
  font-weight: 300;
  letter-spacing: .5px;
  margin-block-start: 0.8em;
  margin-block-end: .4em;
}

h1 {
  font-size: 3.2em;
  margin-bottom: 0;
}

h2 {
  font-size: 2.8em;
  margin-top: 0;
}

h3 {
  font-size: 2.5em;
}

h4 {
  font-size: 1.4em;
}

ol > .recipeRow {
  margin: 30px 0;
}

ul > .recipeRow {
  margin: 5px 0;
}

.br10 {
  border-radius: 10px;
}

p {
  margin: 10px 0;
  margin-block-end: 0;
  margin-block-start: 0;
}

form {
  margin-block-end: 0;
}

.recipeByline {
  height: 25px;
  color: #777;
}

.unfavoriteButton {
  width: 18px;
  text-shadow: 0 0 1px #000;
}

.customList {
  list-style: none;
  padding-left: 0;
}
.customList li {
  position: relative;
  padding-left: 20px;
  left: 18px;
}
.customList li:before {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  background-image: url("https://i.imgur.com/iglbWQ5.png");
  background-size: cover;
  background-position: center;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.rowButton {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  padding: 0;
  text-align: center;
  color: white;
  font-weight: 800;
}

.green {
  background-color: #59d85e;
}

.red {
  background-color: #a30b00;
}

.row {
  margin-right: 20px;
}

.formModifier {
	border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
}

.ingredientsSection .ingredientRow:first-child p:first-child .removeIngredient,
.ingredientsSection .ingredientRow:first-child p:first-child .removeEditIngredient {
  display: none;
} 

.instructionsSection .instructionRow:first-child p:first-child .removeInstruction,
.instructionsSection .instructionRow:first-child p:first-child .removeEditInstruction {
  display: none;
} 

.commentBody {
  text-align: justify;
}

.commentContainer, .userFavoritesContainer {
  border: 1px solid #aaa;
  border-radius: 10px;
  padding: 15px;
}

.greyBorder {
  border: 1px solid #aaa;
}

.pl10 {
  padding-left: 10px;
}

.pt10 {
  padding-top: 10px;
}

.pl15 {
  padding-left: 15px;
}

.pt15 {
  padding-top: 15px;
}

.gold {
  color: gold;
}

.f175em {
  font-size: 1.75em;
}

.f125em {
  font-size: 1.25em;
}

.f120em {
  font-size: 1.2em;
}

.f110em {
  font-size: 1.1em;
}

.w175em {
  width: 1.75em;
}

.mb-20 {
  margin-bottom: -20px;
}


.recipeDeleteQuestion, .commentDeleteQuestion {
  color: red;
}

input:disabled {
  opacity: .5;
}

.deleteRecipeDialogue, .commentEditContainer, .deleteCommentDialogue {
  display: flex;
  align-items: center;
  height: 25px;
}

.thumbnail {
  border-radius: 5px;
  border: 1px #ccc solid;
}

.recipeFavorited {
  display: flex;
  align-items: center;
}

.grey {
  color: #777
}

.darkGrey {
  color: #666777
}

.ml10 {
  margin-left: 10px;
}

.mr10 {
  margin-right: 10px;
}

.mr15 {
  margin-right: 15px;
}

.mr30 {
  margin-right: 30px;
}

.ml5 {
  margin-left: 5px;
}

.mr5 {
  margin-right: 5px;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb25 {
  margin-bottom: 25px;
}

.tbpad10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.thumb15 {
  width: 15px;
  height: 15px;
}

.thumb20 {
  width: 20px;
  height: 20px;
}

.thumb50 {
  width: 50px;
  height: 50px;
}

.thumb100 {
  width: 100px;
  height: 100px;
}

.thumb150 {
  width: 150px;
  height: 150px;
}

.thumb200 {
  width: 200px;
  height: 200px;
}

.thumb300 {
  width: 300px;
  height: 300px;
}

.thumb400 {
  width: 400px;
  height: 400px;
}

.buff50 {
  height: 50px;
}

.w100 {
  width: 100px;
}

.w300 {
  width: 300px;
}

.width100 {
  width: 95%;
}

.h20 {
  max-height: 20px;
}

.h25 {
  max-height: 25px;
}

.ib {
  display: inline-block;
}

.center {
  text-align: center;
}

.creditAttribution {
  font-size: 10px;
  color: #aaa;
}

.rightAlign {
  float: right;
  margin-left: auto; 
  margin-right: 0;
}

.ingredientQty {
  font-size: 1.2em;
  font-weight: 600;
  margin-right: 7px;
  margin-left: 14px;
}

.ingredientName {
  font-size: 1.1em;
  letter-spacing: 0.5px;
  margin-right: 10px;
}

.ingredientPrep {
  font-size: 0.85em;
  color: #666;
}

.medText {
  font-size: 1.2em;
  line-height: 1.4;
}

.flex {
  display: flex;
}

.fdCol{
  flex-direction: column;
}

.jc-sE {
  justify-content: space-evenly;
}

.jc-sA {
  justify-content: space-around;
}

.jc-ctr {
  justify-content: center;
}

.ai-ctr {
  align-items: center;
}

