body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header {
  background-color: rgb(87, 97, 116);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 25px 0 black;
}

header li {
  margin: 20px;
}

header li a {
  color: white;
  text-decoration: none;
}

header img {
  max-height: 80px;
}

header * {
  display: inline;
}

form span {
  border: solid black 1px;
  border-radius: 50%;
}

fieldset {
  border-radius: 12px;
}

.updating {
  display: none;
}

.hero {
  width: 100vw;
  height: 5vh;
}

.pageTitle {
  font-size: 28px;
  color: rgb(18, 22, 57);
}

.row {
  margin-right: 20px;
}

.formModifier {
	border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
}

.ingredientsSection .ingredientRow:first-child p:first-child .removeIngredient {
  display: none;
} 

.instructionsSection .instructionRow:first-child p:first-child .removeInstruction {
  display: none;
} 

.commentContainer {
  border: 1px solid black
}

.userRating {
  color: gold;
}

