body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header {
  background-color: rgb(87, 97, 116);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 25px 0 black;
}

header li {
  margin: 20px;
}

header li a {
  color: white;
  text-decoration: none;
}

header img {
  max-height: 80px;
}

header * {
  display: inline;
}

h1, h2, h3, h4 {
  font-family: 'Fugaz One', cursive;
  font-weight: 300;
  letter-spacing: .5px;
}

h1 {
  font-size: 3.2em;
}

h2 {
  font-size: 2em;
}

ol > li {
  
}

ul > li {

}

/* form span {
  border: solid black 1px;
  border-radius: 50%;
} */

fieldset {
  border-radius: 12px;
}

.removeIngredient, .addIngredient, .removeInstruction, .addInstruction {
  border-radius: 50%
}

.hero {
  width: 100vw;
  height: 5vh;
}

.row {
  margin-right: 20px;
}

.formModifier {
	border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
}

.ingredientsSection .ingredientRow:first-child p:first-child .removeIngredient,
.ingredientsSection .ingredientRow:first-child p:first-child .removeEditIngredient {
  display: none;
} 

.instructionsSection .instructionRow:first-child p:first-child .removeInstruction,
.instructionsSection .instructionRow:first-child p:first-child .removeEditInstruction {
  display: none;
} 

.commentContainer {
  border: 1px solid black
}

.userRating {
  color: gold;
}

.mb {
  margin-bottom: 20px;
}

#deleteRecipeConfirmDialogue {
  color: red;
}