<%- include ../partials/header.ejs %> 

<body>
    <div>
        <% users.forEach(function(u) { %>
            <% if (u.deletedAt == null) {%>
            <div class="membersContainer">
                <img class="memberImage" src="<%= u.imageUrl %>">
                <a class="memberName" href="/users/<%= u._id %>"><%= u.name %></a>
            </div>
            <% } %>
        <% }); %>
    </div>
</body>
</html>