<%- include ../partials/header.ejs %> 

<div class="buff20">
    <% users.forEach(function(u) { %>
        <% if (u.deletedAt == null) {%>
        <div class="membersContainer mb10">
            <img class="userPhoto mr10" src="<%= u.avatar %>">
            <a class="memberName" href="/users/<%= u._id %>"><%= u.name %></a>
        </div>
        <% } %>
    <% }); %>
</div>