<script src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script defer src="../javascripts/formHandler.js"></script>

<%- include ../partials/header.ejs %>
<h1>Add a Recipe</h1>

<form action="/recipes" method="POST">

    <fieldset>

        <legend>Recipe Name</legend>

        <input name="name" type="text">

    </fieldset>

    <fieldset>

        <legend>Recipe Description</legend>

        <textarea rows="5" cols="33" name="description" type="text"></textarea>

    </fieldset>

    <fieldset id="recipeInstructions">

        <legend>Ingredients</legend>

        <div>
            <span>Qty</span>
            <span>Ingredient</span>
            <span>Preparation</span>
        </div>

        <div class="ingredientsSection">
            <div class="ingredientRow">
                <p>
                    <input name="qty" type="text">
                    <input name="ingredient" type="text">
                    <input name="preparation" type="text">
                    <button type="button" class="removeIngredient"> - </button>
                </p>
                <p>
                    <button type="button" class="addIngredient"> + </button>
                </p>
            </div>
        </div>

    </fieldset>

    <fieldset id="recipeInstructions">

        <legend>Instructions</legend>

        <div class="instructionsSection">
            <div class="instructionRow">
                <p>
                    <input name="instructions" type="text">
                    <button type="button" class="removeInstruction"> - </button>
                </p>
                <p>
                    <button type="button" class="addInstruction"> + </button>
                </p>
            </div>
        </div>

    </fieldset>

    <fieldset id="recipeAdditionalInfo">

        <legend>Additional Info</legend>

        <p>Skill Level: </p>
        <select name="skillLevel" type="text">
            <option value="Easy">Easy</option>
            <option value="Medium">Medium</option>
            <option value="Difficult">Difficult</option>
        </select>

        <p>Sevings: </p><input name="servings" type="number">
        <p>Prep Time (minutes): </p><input name="timePrep" type="number">
        <p>Cook Time (minutes):</p><input name="timeCook" type="number">
        <p>Wait Time (minutes):</p><input name="timeWait" type="number">
        <p>Upload an image</p><input name="imageUrl" type="text">

    </fieldset>

    <div class="buttonContainer">
        <input class="" type="submit" value="Submit">
        <input class="" type="submit" value="Cancel">
    </div>

</form>