<script src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script defer src="../javascripts/formHandler.js"></script>
<script type="text/javascript">function noenter() {return !(window.event && window.event.keyCode == 13); }</script>
<script type="text/javascript">function addRow {return !(window.event && window.event.keyCode == 13); }</script>

<%- include ../partials/header.ejs %>
<div class="pageContainer">

<h1>Add a Recipe</h1>

<form id="newRecipeForm" action="/recipes" method="POST">

    <fieldset class="br10 mb10 tbpad10">

        <legend><h3>Recipe Name</h3></legend>

        <input onkeypress="return noenter()" class="h25 w300" required name="name" type="text">

    </fieldset>

    <fieldset class="br10 mb10 tbpad10">

        <legend><h3>Recipe Description</h3></legend>

        <textarea rows="5" cols="65" name="description" type="text"></textarea>

    </fieldset>

    <fieldset class="br10 mb10 tbpad10" id="recipeInstructions">

        <legend><h3>Ingredients</h3></legend>

        <div class="mb5">
            <p class="w100 ib center">Qty</p>
            <p class="w300 ib center">Ingredient</p>
            <p class="w300 ib center">Preparation</p>
        </div>

        <div class="ingredientsSection">
            <div class="ingredientRow">
                <p class="mb5">
                    <input onkeypress="return advanceToNextField()" class="w100 h25 qty" required name="qty" type="text">
                    <input onkeypress="return advanceToNextField()" class="w300 h25 name" required name="ingredient" type="text">
                    <input onkeypress="return addIngredientRow()" class="w300 h25 prep" name="preparation" type="text">
                    <button type="button" class="removeIngredient rowButton red"> - </button>
                </p>
                <p>
                    <button type="button" class="addIngredient rowButton green"> + </button>
                </p>
            </div>
        </div>

    </fieldset>

    <fieldset class="br10 mb10 tbpad10" id="recipeInstructions">

        <legend><h3>Instructions</h3></legend>

        <div class="instructionsSection">
            <div class="instructionRow">
                <p class="mb5">
                    <input onkeypress="return noenter()" class="width100 h25 mb5 instruction" required name="instructions" type="text">
                    <button type="button" class="removeInstruction rowButton red"> - </button>
                </p>
                <p>
                    <button type="button" class="addInstruction rowButton green"> + </button>
                </p>
            </div>
        </div>

    </fieldset>

    <fieldset class="br10 mb10 tbpad10" id="recipeAdditionalInfo">

        <legend><h3>Additional Info</h3></legend>

        <span><strong>Skill Level:</strong></span>
        <select class="mb10" name="skillLevel" type="text">
            <option value="Easy">Easy</option>
            <option value="Medium">Medium</option>
            <option value="Difficult">Difficult</option>
        </select><br>

        <div class="mb10">
            <span><strong>Sevings:</strong> </span><input onkeypress="return noenter()" class="h25" required class="numberOnlyInput" name="servings" type="text" pattern="\d+"><br>
        </div>
        <div class="mb10">
            <span><strong>Prep Time</strong> (minutes): </span><input onkeypress="return noenter()" class="h25" required class="numberOnlyInput mb10" name="timePrep" type="text" pattern="\d+"><br>
        </div>
        <div class="mb10">
            <span><strong>Cook Time</strong> (minutes): </span><input onkeypress="return noenter()" class="h25" required class="numberOnlyInput mb10" name="timeCook" type="text" pattern="\d+"><br>
        </div>
        <div class="mb10">
            <span><strong>Wait Time</strong> (minutes): </span><input onkeypress="return noenter()" class="h25" class="numberOnlyInput mb10" name="timeWait" type="text" pattern="\d+"><br>
        </div>
        <div class="mb10">
            <span><strong>Add image URL:</strong> </span><input onkeypress="return noenter()" class="h25" name="imageUrl" type="text"><br>
        </div>

    </fieldset>

    <div class="buttonContainer">
        <input type="submit" value="Submit">
        <a href="/recipes"><input type="button" value="Cancel"></a>
    </div>

</form>

</div>