<script src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script defer src="../javascripts/formHandler.js"></script>

<%- include ../partials/header.ejs %>
<h1>Add a Recipe</h1>

<form id="newRecipeForm" action="/recipes" method="POST">

    <fieldset class="mb10 tbpad10">

        <legend>Recipe Name</legend>

        <input class="h25 w300" required name="name" type="text">

    </fieldset>

    <fieldset class="mb10 tbpad10">

        <legend>Recipe Description</legend>

        <textarea rows="5" cols="65" name="description" type="text"></textarea>

    </fieldset>

    <fieldset class="mb10 tbpad10" id="recipeInstructions">

        <legend>Ingredients</legend>

        <div class="mb5">
            <p class="w100 ib center">Qty</p>
            <p class="w300 ib center">Ingredient</p>
            <p class="w300 ib center">Preparation</p>
        </div>

        <div class="ingredientsSection">
            <div class="ingredientRow">
                <p class="mb5">
                    <input class="w100 h25" required name="qty" type="text">
                    <input class="w300 h25" required name="ingredient" type="text">
                    <input class="w300 h25" name="preparation" type="text">
                    <button type="button" class="removeIngredient rowButton"> - </button>
                </p>
                <p>
                    <button type="button" class="addIngredient rowButton"> + </button>
                </p>
            </div>
        </div>

    </fieldset>

    <fieldset class="mb10 tbpad10" id="recipeInstructions">

        <legend>Instructions</legend>

        <div class="instructionsSection">
            <div class="instructionRow">
                <p class="mb5">
                    <input class="w710 h25" required name="instructions" type="text">
                    <button type="button" class="removeInstruction rowButton"> - </button>
                </p>
                <p>
                    <button type="button" class="addInstruction rowButton"> + </button>
                </p>
            </div>
        </div>

    </fieldset>

    <fieldset class="mb10 tbpad10" id="recipeAdditionalInfo">

        <legend>Additional Info</legend>

        <span>Skill Level: </span>
        <select class="mb10" name="skillLevel" type="text">
            <option value="Easy">Easy</option>
            <option value="Medium">Medium</option>
            <option value="Difficult">Difficult</option>
        </select><br>

        <div class="mb10">
            <span>Sevings: </span><input class="h25" required class="numberOnlyInput" name="servings" type="text" pattern="[0-9]"><br>
        </div>
        <div class="mb10">
            <span>Prep Time (minutes): </span><input class="h25" required class="numberOnlyInput mb10" name="timePrep" type="text" pattern="[0-9]"><br>
        </div>
        <div class="mb10">
            <span>Cook Time (minutes): </span><input class="h25" required class="numberOnlyInput mb10" name="timeCook" type="text" pattern="[0-9]"><br>
        </div>
        <div class="mb10">
            <span>Wait Time (minutes): </span><input class="h25" required class="numberOnlyInput mb10" name="timeWait" type="text" pattern="[0-9]"><br>
        </div>
        <div class="mb10">
            <span>Upload an image: </span><input class="h25" name="imageUrl" type="text"><br>
        </div>

    </fieldset>

    <div class="buttonContainer">
        <input type="submit" value="Submit">
        <input class="" type="submit" value="Cancel">
    </div>

</form>