<script src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script defer src="../javascripts/formHandler.js"></script>

<%- include ../partials/header.ejs %>
<div class="pageTitle">Add a Recipe</div>

<form action="/recipes" method="POST">
    <h2>Recipe Name</h2>
    <input name="name" type="text">
    <h2>Recipe Description</h2>
    <input name="description" type="text">
    <h2>Ingredients</h2>
    <thead>
        <tr class="tableHeader">
            <th></th>
            <th>Qty</th>
            <th>Ingredient</th>
            <th>Preparation</th>
        </tr>
    </thead><br>
    <div class="ingredientsSection">
        <div class="ingredientRow">
            <p>
                <input name="qty" type="text">
                <input name="ingredient" type="text">
                <input name="preparation" type="text">
                <span class="removeIngredient"> - </span>
            </p>
            <p>
                <span class="addIngredient"> + </span>
            </p>
        </div>
    </div>

    <h2>Instructions</h2>

    <div class="instructionsSection">
            <div class="instructionRow">
                <p>
                    <input name="instruction" type="text">
                    <span class="removeInstruction"> - </span>
                </p>
                <p>
                    <span class="addInstruction"> + </span>
                </p>
            </div>
        </div>

    <h2>Additional Info</h2>

    <p>Skill Level: </p>
    <select name="skillLevel" type="text">
        <option value="1">Easy</option>
        <option value="2">Medium</option>
        <option value="3">Difficult</option>
    </select>

    <p>Sevings: </p><input name="servings" type="number">
    <p>Prep Time (minutes): </p><input name="timePrep" type="number">
    <p>Cook Time (minutes):</p><input name="timeCook" type="number">
    <p>Wait Time (minutes):</p><input name="timeWait" type="number">
    <p>Upload an image</p><input name="imageUrl" type="text">
    <br>
    <input class="" type="submit" value="Submit">
    <input class="" type="submit" value="Cancel">
</form>