<div class="commentForm">
    <form action="/recipes/<%= recipe._id %>/comment/<%= c._id %>?_method=PUT" method="POST">
        <textarea name="comment" rows="4" cols="50"></textarea><br>
        <button type="submit">Update Comment</button>
        <button type="submit">Cancel</button>
    </form>
</div>